#list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card { max-width: 400px; height: fit-content; padding: 1.5em;}
.card-title a{ text-decoration: none; color: var(--primary); font-weight: 400; line-height: 1.5; }
.card-title a:hover { color: var(--secondary); }
.card-text { color: var(--dark); opacity: .7; line-height: 1.7; margin-top: 20px;}
.card-link { color: var(--primary); text-decoration: none; }
.card-link:hover { color: var(--secondary);}
span .card-link { text-decoration: none; color: var(--secondary);}
span .card-link:hover { text-decoration: underline; }
.card-header { background-color: white; border-bottom: 0.01rem solid rgb(238, 233, 233);}
.card-footer { border-top: 0; padding-top: 20px; padding-bottom: 20px; margin-top: 30px;}
.card-footer a { font-weight: 500;}
.card-footer i { margin-right: 5px; font-size: 1.2em;}