#list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card { max-width: 400px; height: fit-content; padding: 20px }
.card-title a{ text-decoration: none; color: var(--primary); font-weight: 400; line-height: 1.5; }
.card-title a:hover { color: var(--secondary); }
.card-text { color: var(--dark); opacity: .9; line-height: 1.5;}
.card-link { color: var(--primary); text-decoration: none; }
.card-link:hover { color: var(--secondary);}
.card-link i { margin-right: 7px;}
span .card-link { text-decoration: none; color: var(--secondary);}
span .card-link:hover { text-decoration: underline; } 