<header>
    <nav class="navbar navbar-expand-lg container-xxl">
        <button class="navbar-toggler custom-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active">Blog</a></li>
              <li class="nav-item"><a class="nav-link" href="https://github.com/otivos" target="_blank"><i class="bi bi-github"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="https://twitter.com/_otivo" target="_blank"><i class="bi bi-twitter"></i></a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/otivo/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
            </ul>
          </div>
    </nav>
</header>