<section>
    <div>
        <div id="hero">
            <figure>
                <img src="/assets/images/bg-steve-d.jpg" alt="Elephant grazing near a mountain" width="1200"
                    height="450">
                <figcaption>An elephant grazing near Mt.Kilimanjaro.</figcaption>
            </figure>
        </div>
        <div class="container-fluid" id="hero-text">
            <h2 id="my-title">Stephen Otieno</h2>
            <span class="d-block" id="my-role">Web Developer</span>
        </div>
    </div>
</section>


<footer>
    <div class="container" id="footer">
        <p class="py-3">Stephen Otieno &copy; 2022</p>
    </div>
</footer>