#hero { position: relative; }
#hero img { width: 100%; height: auto;}
h2 { color: white; font-family: 'Pacifico', cursive;}
h2:hover { color: var(--secondary); cursor: pointer; }
span { color: var(--light); margin-top: 3.3rem; }
