/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@300;600;700&display=swap');

/***BOX MODEL***/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

:root {
    --dark: #222;
    --light: #999;
    --primary: #2b3542;
    --secondary: #13c4a5;
    --tertiary: #bf2121;
}

html body {
    height: 100%; 
}

body {
    color: var(--dark);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.limited { max-width: 1200px; margin: auto;}