/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Slab:wght@300;600;700&display=swap');

/***BOX MODEL***/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

:root {
    --dark: #222;
    --light: #999;
    --primary: #2b3542;
    --secondary: #13c4a5;
    --tertiary: #bf2121;
}

html body {
    height: 100%; 
}

body {
    background-color: #f1f1f1;
    color: var(--dark);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.limited { max-width: 1366px; margin: auto; }

/* NAV SECTION */
header .nav-link { text-align: center;}

/* HERO SECTION */
#hero h2 { font-size: 1.7rem; position: absolute; top: 15%; left: 30%; }
#hero figcaption { font-size: .7em; font-style: italic; text-align: end;}
#hero span { font-size: 1.1rem; position: absolute; top: 33.3%; left: 36%; margin-top: 1rem; }

/* ABOUT SECTION */
#about { margin: 1.3rem 1rem; background-color: white;}