<!-- HERO SECTION -->
<section>
    <div id="hero" class="mb-3">
        <figure>
            <img src="/assets/images/steve-bg.png" alt="Elephants walking near a mountain" width="1200" height="450">
            <figcaption>Elephants grazing near Mt.Kilimanjaro.</figcaption>
        </figure>
        <h2 id="my-title">Stephen Otieno</h2>
        <span id="my-role">Web Developer</span>
    </div>
</section>

<!-- INTRO SECTION -->
<section>
    <div class="container p-3 pt-5 my-5" id="intro">
        <h3>Hello world!</h3>
        <p>Join me as I embark into the exciting world of web development. I'm passionate about making a difference into the tech industry and I’m always excited to share my ideas, tips and tricks with others. I hope to provide a unique and informative perspective on all things web development.</p>
    </div>
</section>

<!-- BLOG SECTION -->
<section>
    <div *ngFor="let blog of blogs" class="container-fluid">
        <div class="card mb-5 shadow-lg">
            <div class="row px-3">
                <div class="col-md-8">
                    <h4 class="card-title"><a href="">{{ blog.title }}</a></h4>
                    <div class="my-2">
                        <a class="card-link small"><i class="bi bi-clock-fill"></i>{{ blog.readTime }} min</a>
                        <a href="#" class="card-link small"><i class="bi bi-calendar-fill"></i>{{ blog.datePosted }}</a>
                        <a href="#" class="card-link small"><i class="bi bi-chat-fill"></i>0 Comments</a>
                    </div>
                    <p class="card-text">{{ blog.content | slice:0:350 }}<span>...<a href="{{ blog.id }}">continue reading</a></span></p> 
                </div>
                <div class="col-md-4">
                    <figure>
                        <img src="/assets/images/Kings-Palace-in-Rwanda.jpg" class="img-fluid" alt="" width="500">
                    </figure>
                </div>
            </div>
        </div>
        <div class="card mb-5 shadow-lg">
            <div class="row px-3">
                <div class="col-md-4">
                    <figure>
                        <img src="/assets/images/Kings-Palace-in-Rwanda.jpg" class="img-fluid" alt="" width="500">
                    </figure>
                </div>
                <div class="col-md-8">
                    <h4 class="card-title"><a href="">{{ blog.title }}</a></h4>
                    <div class="my-2">
                        <a class="card-link small"><i class="bi bi-clock-fill"></i>{{ blog.readTime }} min</a>
                        <a href="#" class="card-link small"><i class="bi bi-calendar-fill"></i>{{ blog.datePosted }}</a>
                        <a href="#" class="card-link small"><i class="bi bi-chat-fill"></i>0 Comments</a>
                    </div>
                    <p class="card-text">{{ blog.content | slice:0:350 }}<span>...<a href="{{ blog.id }}">continue reading</a></span></p> 
                </div>
            </div>
        </div>
    </div>
</section>