<!-------------------------------------------HEADER ----------------------------------->

<nav-bar></nav-bar>

<!-------------------------------------------HERO ------------------------------------->

<hero-section></hero-section>

<!-------------------------------------------MAIN ------------------------------------->
<main>
  <p class="p-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta culpa magnam impedit iure quas ipsam ratione ipsum voluptatum eligendi asperiores praesentium libero eos exercitationem neque hic, corporis iusto nisi maiores aliquam officia quis est officiis facere? Sit dolorum atque quasi rem reiciendis tempore facere, ea cumque dignissimos aut dolorem eius, consectetur ipsam ipsa vero in. Odit hic quisquam accusamus alias laboriosam ipsum id ut praesentium ab quod, iusto commodi incidunt odio porro qui nisi inventore. Neque officiis non quibusdam. Deserunt nostrum inventore animi fuga natus, assumenda dignissimos dolorum commodi quos id illum quo illo tempora reiciendis sunt dicta est saepe.</p>
</main>

<!-------------------------------------------FOOTER SECTION --------------------------->
<app-footer></app-footer>