/* HEADER */
header { background-color: var(--dark) !important; opacity: .7;}
header .nav-link { padding: 10px; color: var(--light); text-transform: uppercase; font-family: 'Roboto Slab', serif; font-size: .85em; font-weight: 600; letter-spacing: 1px; }
header .nav-link:hover { color: white; }
.custom-toggler.navbar-toggler { border:1px solid var(--light) }
.custom-toggler .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/* MAIN */
/* hero-section*/
#bg-img {
    background-image: url('src/assets/images/bg-steve.jpg');
    background-repeat: no-repeat;
    height: 400px;
}
#hero h2 { color: white; width: max-content; font-size: 2.5rem; font-weight: 400; font-family: 'Pacifico', cursive;}
#hero h2:hover { color: var(--secondary-color); cursor: pointer;}
#hero span { color: var(--light); align-items: center; font-size: 1.3rem; margin-left: 3rem;}
#hero div { margin: 0; position: absolute; top: 25%; left: 12.5%; }

/* FOOTER */
footer { background-color: var(--dark); color: white;}
footer p { font-family: 'Roboto Slab', serif; font-size: .85em; font-weight: 300; }
