<!------------------------------------------- HEADER SECTION ------------------------------------>
<header>
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-github"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-twitter"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-linkedin"></i></a></li>
      </ul>
    </div>
  </nav>
</header>

<!-------------------------------------------- MAIN SECTION -------------------------------------->
<main>
  <section id="hero">
    <div>
      <h1 id="my-name">Stephen Otieno</h1>
      <span id="my-title">Web Developer</span>
    </div>
  </section>
</main>

<!--------------------------------------------- FOOTER SECTION ----------------------------------->
<footer>
  <div id="footer"><p>Stephen Otieno &copy; 2022</p></div>
</footer>