<main>
    <div id="about" class="shadow-md">
        <section>
            <div class="inner-div">
                <h2 class="py-3">About Me</h2>
                <p>I'm a creative problem solver with undivided attention in <em style="background-color: #eee;">Web Technologies</em> and <em style="background-color: #eee;">Graphic
                        Design</em> with a demonstrated
                    history of working in computer software industry. I'm a strong Information Technology professional
                    with a
                    Diploma in Information and Communication Technology from <a href="https://kisumupoly.ac.ke/computer-studies-mathematics" target="_blank">The Kisumu National Polytechnic</a>. I have also taken <a href="https://cs50.harvard.edu/" target="_blank">Harvad's CS50 - Introduction
                         to Computer Science</a> and <a href="https://cs61.seas.harvard.edu/site/2021/" target="_blank">Harvad's CS61 - System Programming and Machine Organization.</a>
                </p>
            </div>
        </section>
        <section>
            <div class="inner-div">
                <ul>
                    <li>Programming languages</li>
                    <ul>
                        <li>JavaScript</li>
                        <li>Python</li>
                    </ul>
                    <li>Backend frameworks</li>
                    <ul>
                        <li>NodeJS/Express</li>
                        <li>Flask</li>
                    </ul>
                    <li>Frontend frameworks</li>
                    <ul>
                        <li>Angular 2</li>
                        <li>React</li>
                        <li>HTML5/CSS3</li>
                        <li>Bootstrap/Semantic UI</li>
                    </ul>
                    <li>Database systems</li>
                    <ul>
                        <li>PostgreSQL</li>
                        <li>SQLite</li>
                        <li>MySQL</li>
                        <li>MongoDB</li>
                    </ul>
                    <li>System administration</li>
                    <ul>
                        <li>Containerization(Docker)</li>
                    </ul>
                    <li>Others</li>
                    <ul>
                        <li>Agile and Scrum Methodologies</li>
                        <li>RESTful API/WebSockets</li>
                        <li>Blockchain/Ethereum(Truffle framework)</li>
                        <li>Amazon Web Services(EC2, Elastic Beanstalk etc.)</li>
                        <li>Design Thinking</li>
                        <li>Graphic Design(Illustrator, Photoshop)</li>
                        <li>Wordpress</li>
                    </ul>
                </ul>
                <p class="py-2">Currently, I work as a Web Developer at <a href="" target="_blank">Dimba</a>.</p>
            </div>
        </section>
    </div>
</main>